{
  "machineType": "{{ _raw_params.machineType | default("") }}",
  "accessState": "{{ _raw_params.accessState | default("") }}",
  "powerStatus": "{{ _raw_params.powerStatus | default("") }}",
  "model": "{{ _raw_params.model | default("") }}",
  "type": "{{ _raw_params.type | default("") }}",
  "configStatus": "{{ _raw_params.configStatus | default("") }}"
}